
html {
   box-sizing: border-box;
   -ms-overflow-style: scrollbar;
 }
 
 *,
 *::before,
 *::after {
   box-sizing: inherit;
 }

 @import "functions";
 @import "variables";
 
 @import "breakpoints";
 @import "grid-framework";
 @import "grid1";
 
 @import "grid";
 @import "display";
 @import "flex";
 @import "spacing";

