/* ============ MIXINS ============= */

.unstyle-list {
    list-style: none;
    padding: 0;
    margin: 0;
    li:before {
        display: none;
    }
}

.clearfix:before,
.clearfix:after {
    content: " ";
    /* 1 */
    display: table;
    /* 2 */
}

.clearfix:after {
    clear: both;
}

.cover {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.text-center {
    text-align: center;
}

.no-scroll {
    overflow-y: hidden;
}


@mixin shadow() {
    box-shadow: 0 2px 4px 0 rgba(188, 190, 192, 0.40);
}

@mixin padding($top: null, $right: null, $bottom: null, $left: null, $media: null) {
    @if $media {
        @media #{$media} {
            padding-top: $top;
            padding-right: $right;
            padding-bottom: $bottom;
            padding-left: $left;
        }
    }
    @else {
        padding-top: $top;
        padding-right: $right;
        padding-bottom: $bottom;
        padding-left: $left;
    }
}

// Push auto
@mixin push--auto {
    margin: {
        left: auto;
        right: auto;
    }
}

// Pseudo
@mixin pseudo($display: block, $pos: absolute, $content: '') {
    content: $content;
    display: $display;
    position: $pos;
}

// Responsive ratio
@mixin responsive-ratio($x, $y, $pseudo: false) {
    position: relative;
    overflow: hidden;
    $padding: unquote(($y / $x) * 100 + '%');
    @if $pseudo {
        &:before {
            @include pseudo($pos: relative);
            width: 100%;
            padding-top: $padding;
        }
    }
    @else {
        padding-top: $padding;
    }
    img {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}

// CSS triangles
@mixin css-triangle($color, $direction, $size: 6px, $position: absolute, $round: false) {
    @include pseudo($pos: $position);
    width: 0;
    height: 0;
    @if $round {
        border-radius: 3px;
    }
    @if $direction==down {
        border-left: $size solid transparent;
        border-right: $size solid transparent;
        border-top: $size solid $color;
        margin-top: 0 - round($size / 2.5);
    }
    @else if $direction==up {
        border-left: $size solid transparent;
        border-right: $size solid transparent;
        border-bottom: $size solid $color;
        margin-bottom: 0 - round($size / 2.5);
    }
    @else if $direction==right {
        border-top: $size solid transparent;
        border-bottom: $size solid transparent;
        border-left: $size solid $color;
        margin-right: -$size;
    }
    @else if $direction==left {
        border-top: $size solid transparent;
        border-bottom: $size solid transparent;
        border-right: $size solid $color;
        margin-left: -$size;
    }
}

@function strip-unit($value) {
    @return $value / ($value * 0 + 1);
} 
  
@mixin fluid-type($properties, $min-vw, $max-vw, $min-value, $max-value) {
    @each $property in $properties {
        #{$property}: $min-value;
    }
    @media (min-width: $min-vw) {
        @each $property in $properties {
            #{$property}: calc(#{$min-value} + #{strip-unit($max-value - $min-value)} * (100vw - #{$min-vw}) / #{strip-unit($max-vw - $min-vw)});
        }
    }
    @media (min-width: $max-vw) {
        @each $property in $properties {
            #{$property}: $max-value;
        }
    }
}

@function strip-unit($number) {
    @if type-of($number)=="number"and not unitless($number) {
        @return $number / ($number * 0 + 1);
    }
    @return $number;
}

// Aspect ratio
@mixin aspect-ratio($padding) {
    position: relative;
    overflow: hidden;
    height: 0;
    padding-bottom: $padding;
    img {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

// Aspect ratio - background image
.aspect-ratio-bg {
    height: 0;
    padding-top: 56.25%;
    overflow: hidden;
    display: block;
}


.aspect-radio-16-9 {
    @include aspect-ratio(56.24%);
}

/* ============ END MIXINS ============= */