$title-font: 'Quicksand',sans-serif;
$main-font: 'Montserrat', sans-serif;
h1,
h2,
h3,
h4,
h5 {
    color: $font-title;
    font-family: $title-font;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0 0 10px 0;
    font-weight: 500;
}

h1 {
    @include fluid-type(font-size, 320px, 1450px, 28px, 48px);
    @include fluid-type(line-height, 320px, 1450px, 35px, 54px);
}

h2 {
    @include fluid-type(font-size, 320px, 1450px, 24px, 36px);
    @include fluid-type(line-height, 320px, 1450px, 32px, 42px);
}

h3 {
    @include fluid-type(font-size, 320px, 1450px, 24px, 36px);
    @include fluid-type(line-height, 320px, 1450px, 32px, 42px);
    margin: 0 0 2.4rem 0;
}

h4 {
    @include fluid-type(font-size, 320px, 1450px, 22px, 30px);
    @include fluid-type(line-height, 320px, 1450px, 28px, 36px);
    margin: 0 0 1.6rem 0;
}

h5 {
    @include fluid-type(font-size, 320px, 1450px, 20px, 24px);
    @include fluid-type(line-height, 320px, 1450px, 22px, 30px);
}

h6 {
    font-size: 18px;
    margin: 0 0 1rem 0;
    line-height: 24px;
    font-weight: 400;
}

p {
    @include fluid-type(font-size, 320px, 1450px, 14px, 16px);
    margin-top: 0;
    @include fluid-type(line-height, 320px, 1450px, 20px, 24px);
    font-weight: 400;
    color: $font-color;
    &:last-child {
        margin-bottom: 0;
    }
}

ul,
li {
    margin: 0;
    padding: 0;
}

li {
    @include fluid-type(font-size, 320px, 1450px, 14px, 16px);
    list-style: none;
    position: relative;
    padding-left: 2.2rem;
    line-height: 24px;
    margin-bottom: 14px;
    &:before {
        content: "\A";
        position: absolute;
        left: 0;
        top: 13px;
        transform: translateY(-50%);
        width: 8px;
        height: 8px;
        border-radius: 50%;
        background: $main-color;
        display: inline-block;
        box-shadow: inset 0px 0px 0px 1px #fff;
    }
}

a {
    cursor: pointer;
    color: inherit;
    font-size: inherit;
    transition: all 0.3s ease;
    &:hover,
    &:link,
    &:visited {
        text-decoration: none;
    }
}

strong {
    font-weight: 600;
}