$tablet: 768px;
$laptop: 992px;
$desktop: 1450px;
$xdesktop: 1600px;
$main-color: #85C226;
$second-color: #209350;
$dark-green: #296A45;
$dark-main: #296A45;
$background-color: #EFEFEF;
$font-title: #363636;
$font-color: #656565;
$light-grey: #EFEFEF;
$hover: rgba(133, 192, 38, 9);
$hover-green: #209350;
$grey: #989898;
$grey-30:rgba(152, 152, 152, 0.3);
$border-radius: 5px;
$border-color: rgba(152, 152, 152, .3);
$box-shadow:5px 5px 15px 5px rgba(0, 0, 0, 0.2);
$box-shadow-card:1px 1px 7px rgba(0, 0, 0, 0.15);
$box-shadow-light:0px 4px 4px rgba(0, 0, 0, 0.15);