/*=============================================
            RESPONSIVE mobile first
$tablet: 768px;
$laptop: 992px;
$desktop: 1450px;
$xdesktop: 1600px; 
=============================================*/


/*----------  480px----------*/

@media only screen and (min-width: 480px) {
    .container {
        width: 85%;
    }

    .mind-img {
        width: auto;
    }
}

@media only screen and (min-width: 480px) and (max-width: 991px) {
    aside {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-column-gap: 15px;
        grid-row-gap: 15px;
        padding-bottom: 40px;

        .wp-block-image {
            width: 100%;
            height: 100%;
            padding-bottom: 0;
            margin-bottom: 0;
        }
    }

    .sidebar-card {
        margin-bottom: 0;
    }
}

@media only screen and (min-width: 576px) {
    .blog-page-categories li {
        padding: 3rem 1.4rem;
    }

    .services-image {
        position: relative;
        overflow: hidden;
    }

    .counter__box {
        padding-bottom: 0;
    }
}

@media only screen and (min-width: 600px) {
    .editor {
        .wp-block-columns {
            padding-bottom: 2rem;
        }
    }

    .map-legend-wrap {
        height: 500px;
    }

    .legend-wrap {
        align-items: flex-start;
    }

    .legend-title {
        width: 20%;
        margin: auto;
        text-align: left;

        h3 {
            margin: 0;
        }
    }

    .legend-info {
        width: 20%;
        padding-left: 1rem;
        padding-right: 1rem;
        margin-bottom: 0;
    }
}


/*----------    768px----------*/

@media only screen and (min-width: $tablet) {

    .container,
    aside {
        width: 90%;
    }

    aside {
        margin: 0 auto;
    }

    .btn {
        padding: 15px 25px;
    }

    .mind-box-section.section {
        @include fluid-type(padding-bottom, 320px, 1366px, 8rem, 10rem);
    }

    .section-title {
        position: relative;
        left: -11px;
    }

    .box-content {
        max-width: 430px;
        margin-left: initial;
    }

    .box-img {
        width: 100%;
        padding-bottom: 100%;
    }

    .two-columns {
        >div {
            margin-bottom: 0;
        }

        .circle-shapes {
            margin-left: auto;
            margin-right: auto;
        }

        &.two-columns-reverse {
            margin-right: 0;
            margin-left: auto;
        }
    }

    .cta-box {
        padding-bottom: 4.4rem;
    }

    .bicycle-icon {
        width: 33rem;
        bottom: -4.4rem;
    }

    .site-footer {
        padding-bottom: 11rem;

        .row {
            text-align: left;

            >div {
                margin-bottom: 0;
            }
        }

        .social-icon {
            justify-content: flex-end;
        }
    }

    .services_content {
        padding: 3rem 2rem;

        .btn {
            padding: 12px 15px;
        }
    }

    .post-author {
        text-align: left;
    }

    .contact_info {
        padding-top: 20rem;
    }

    .contact-logo {
        top: -17rem;
    }

    .border-box_wrap {
        .border-box {
            padding: 5rem 3rem 3rem 3.5rem;
            width: calc(50% - 3rem);
            margin-right: 3rem;

            &:nth-of-type(2n) {
                margin-right: 0;
            }
        }
    }

    .addtoany_shortcode {
        a[class^="a2a_button"] {
            margin: 0;
            padding: 9px 12px;

            &:after {
                display: block;
                margin-left: 8px;
                font-size: 14px;
            }
        }

        .post-author_content span {
            margin-bottom: 0;
        }
    }

    .addtoany_list {
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
        gap: 15px;
    }

    #share {
        .addtoany_list .addtoany_share {
            padding: 9px 12px;
            font-size: 14px;
        }
    }

    .white-box {
        padding: 3rem 3rem 2.3rem 3rem;
    }

    .section-two-column-content {
        padding: 2rem 2rem 2rem 6rem;
    }

    .footer-logo {
        order: 0;
    }

    .post-item {
        display: grid;
        grid-template-columns: 1fr 1fr;

        &__title {
            overflow: hidden;
            text-overflow: ellipsis;
            display: -webkit-box;
            -webkit-line-clamp: 2;
            /* number of lines to show */
            -webkit-box-orient: vertical;
            min-height: 35px;
        }

        &__footer {
            margin-top: auto;
        }

        &_content {
            display: flex;
            flex-direction: column;
            padding: 10px 15px;

            p {
                overflow: hidden;
                text-overflow: ellipsis;
                display: -webkit-box;
                -webkit-line-clamp: 2;
                /* number of lines to show */
                -webkit-box-orient: vertical;
                margin-bottom: 5px;
            }
        }
    }

    // featured posts
    .featured-posts {
        margin-bottom: 10rem;

        &:after {
            bottom: -5rem;
        }
    }

    .featured-post {
        margin-bottom: 0;
        height: 100%;
        display: flex;
        flex-direction: column;

        &__content {
            flex-grow: 1;
            display: flex;
            flex-direction: column;
        }

        &__title {
            flex-grow: 1;
        }
    }

    .hero-section__img {
        min-height: 350px;
    }

    /*----------  Hero section small  ----------*/
    .hero--small {
        .hero-section__img {
            min-height: 200px;
        }
    }

    /*----------  Single post  ----------*/
    .single-post {
        .date {
            display: inline-block;
        }

        .date-mobile {
            display: none;
        }
    }

    .contact-info-col {
        .line-left {
            padding-right: 5px;
        }
    }

    .editor {
        .wp-block-column {
            &:not(:first-child) {
                margin-left: 3.4rem;
            }
        }
    }

    .post-hero {
        &__wrap {
            .post-hero {
                margin-top: 6rem;
            }
        }
    }

    /*----------  News masonry  ----------*/
    .grid:after {
        content: '';
        display: block;
        clear: both;
    }

    .grid-item {
        float: left;
    }

    .grid-item--width2 {
        width: 100%;
    }

    .grid-sizer,
    .grid-item {
        width: calc(50% - 40px);
    }

    .grid-item {
        margin-bottom: 30px;
    }
}


/*----------  laptop  992px ----------*/

@media only screen and (min-width: $laptop) {
    html {
        font-size: 55%;
    }

    body {
        margin-top: 89px;
    }

    aside {
        width: 100%;
    }

    // sidebar layout
    .sidebar-layout {
        display: grid;
        grid-template-columns: auto 23%;
        grid-column-gap: 18px;
    }

    /*----------  Single post  ----------*/
    .single-post {
        &__content {
            display: grid;
            grid-template-columns: 77% 23%;
            grid-column-gap: 20px;
        }

        &__content-bottom {
            grid-row: 2;
            grid-column: 1/3;
        }
    }

    .paginator,
    .pagination {

        ul.slick-slide,
        ul {
            li {
                &.prev {
                    width: 166px;
                    height: 29px;
                }

                &.next {
                    width: 166px;
                    height: 29px;
                }
            }
        }
    }

    .post-author_content {
        max-width: 600px;
        margin-left: 5rem;
    }

    .services-slider {
        .paginator {
            .slick-list {
                padding: 0 !important;
            }
        }
    }

    .green-box {
        padding: 6.5rem;
    }

    /*----------  Navigation  ----------*/
    .header {
        .container {
            width: 100%;
        }
    }

    #nav-icon {
        display: none;
    }

    .header-wrap {
        flex-wrap: nowrap;
        padding: 15px;
    }

    .nav-wrap .nav {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        overflow: initial;
    }

    .wpml-ls-legacy-dropdown {
        display: block;
    }

    .nav-wrap {
        display: block;
        position: relative;
        height: auto;
        width: auto;
        top: initial;
        opacity: 1;
        z-index: 1;
        width: 100%;
        background-color: transparent;
        padding-top: 0;

        .menu-item {
            margin-bottom: 0;
        }

    }

    .navigation-menu {
        flex-direction: row;
        width: auto;
        margin: 0 auto;

        li {
            opacity: 1;
            transform: none;
        }

        .wpml-ls-item {
            display: none;
        }
    }

    .menu-item-has-children {
        >a {
            &:after {
                content: '';
                @include css-triangle(#fff, down, 5px);
                display: inline-block;
                vertical-align: middle;
                position: relative;
                margin-left: 6px;
                transition: all 0.3s ease;
            }
        }

        &:hover {
            >a:after {
                @include css-triangle($main-color, down, 5px);
                display: inline-block;
                position: relative;
            }

            .sub-menu {
                opacity: 1;
                margin-top: -6px;
                pointer-events: auto;
                background-color: #fff;
            }
        }
    }

    .sub-menu {
        display: block;
        position: absolute;
        margin-top: 3px;
        transition: all 0.3s ease;
        opacity: 0;
        background-color: #fff;
        box-shadow: $box-shadow;
        pointer-events: none;
        min-width: 150px;

        a {
            color: $font-title;
        }

        li {
            &:hover {
                background: $light-grey;
            }
        }
    }

    .right-menu {
        display: flex;
        align-items: center;
        flex-direction: row;
        margin-bottom: 0;

        .emphasize #secondary-menu {
            padding: 0;
            margin-left: 2rem;

            a {
                font-size: 12px;
                text-transform: uppercase;
                border: 1px solid #fff;
                border-radius: $border-radius;
                text-align: center;
                padding: 10px 28px;

                &:hover {
                    border: 1px solid $main-color;
                }
            }
        }
    }

    .site-branding {
        width: 220px;
    }

    /*----------  Search icon  ----------*/
    .search-input {
        position: absolute;
        height: 16px;
        width: 16px;
        border: 2px solid white;
        background-color: transparent;
        padding: 0;
        top: 50%;
        bottom: 50%;
        transform: translateY(-50%);
        right: 30px;

        &:after {
            content: "";
            position: absolute;
            width: 2px;
            height: 10px;
            right: -3px;
            top: 9px;
            background: white;
            border-radius: 3px;
            transform: rotate(-45deg);
            transition: all 200ms ease;
        }

        &:before {
            content: "";
            display: inline-block;
            background-color: rgba(255, 255, 255, .3);
            width: 46px;
            height: 46px;
            position: absolute;
            top: -17px;
            left: 50%;
            right: 50%;
            transform: translateX(-50%);
            border-radius: 7px;
            transition-delay: 1s;
            transition: all .3s ease-in-out;
        }

        ::placeholder {
            opacity: 0;
        }

        &.active {
            width: 200px;
            margin-right: 0px;
            background-color: #fff;
            height: 40px;
            padding: 4px 9px;

            &:after {
                height: 21px;
                top: 29px;
            }

            &:before {
                width: 109%;
                top: -9px;
                display: none;
            }

            input[type="text"] {
                color: $font-color;
            }

            ::placeholder {
                color: $font-color;
                opacity: .3;
            }
        }
    }

    .search-wrap {
        position: relative;
        width: 48px;
        height: 47px;
        margin-right: 6px;

        &:hover {
            .search-input {
                width: 200px;
                margin-right: 0px;
                background-color: #fff;
                height: 40px;
                padding: 4px 9px;

                &:after {
                    height: 21px;
                    top: 29px;
                }

                &:before {
                    display: none;
                }

                input[type="text"] {
                    color: $font-color;
                }

                ::placeholder {
                    color: $font-color;
                    opacity: .3;
                }
            }
        }
    }

    .site-main {
        position: relative;
    }

    .float-icon {
        background-color: transparent;
        position: sticky;
        top: 100px;
        bottom: auto;
        left: auto;
        transform: rotate(-180deg);
        writing-mode: vertical-rl;
        width: 30px;
        height: max-content;
        z-index: 998;
        display: flex;
        align-content: center;
        align-items: center;
        transition: all 0.3s ease;

        .icon {
            display: none;
        }

        .social-icon-text {
            display: block;
            font-size: 14px;
            font-weight: 500;
            color: $font-title;
            position: relative;
            transition: all 0.3s ease;

            &:after {
                content: "";
                display: inline-block;
                width: 4px;
                height: 4px;
                background-color: $main-color;
                border-radius: 50%;
                margin: 0 11px;
                position: absolute;
                bottom: -17px;
                right: 0px;
            }

            &:hover {
                color: $main-color;
            }
        }

        a.social-icon-link {
            padding-bottom: 15px;
            margin-bottom: 15px;
            position: relative;
        }

        >a:nth-last-child(1) {
            .social-icon-text {
                &:after {
                    display: none;
                }
            }
        }
    }

    .social-icon__wrap {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 1%;
        padding-top: 40px;
        padding-bottom: 70px;

        .home & {
            padding-top: 55rem;
        }

        .category & {
            padding-top: 95px;
        }

        .tag &,
        .author & {
            padding-top: 70px;
        }
    }

    .home {
        .float-icon-fixed {
            top: 330px;
        }

        .float-icon-bottom {
            top: initial;
        }
    }

    .float-icon-bottom {
        position: absolute;
        top: initial;
        bottom: 0;
    }

    .list-counter {
        li::before {
            top: 2.7rem;
        }
    }

    .slider-dots-right {
        .slick-dots {
            writing-mode: vertical-rl;
            top: 46%;
            bottom: 50%;
            transform: translateY(-50%);
            right: 24px;
            left: initial;
            width: auto;
        }
    }

    .hero-section__img {
        min-height: 450px;
    }

    .hero-section__title {
        width: 80%;
    }

    .services_content-wrap {
        padding-left: 3rem;
    }

    .donate-icon {
        width: 11rem;
        right: 30px;
        bottom: 30px;
    }

    .donate-icon-wrap {
        width: auto;
        height: auto;
        background: transparent;
        border: none;
        transition: all 0.3s ease;

        img {
            width: auto;
        }

        &:hover {
            opacity: 0.7;
        }
    }

    .donate-icon-desktop {
        display: block;
    }

    .donate-icon-mobile,
    .donate-icon-text {
        display: none;
    }

    .donate-icon-bottom {
        position: absolute;
        bottom: 39vh;
        top: initial;
    }

    .contact_map {
        min-height: calc(100vh - 90px);
    }

    .page-not-found,
    .search__content {
        min-height: 400px;
    }

    .post-item {
        &__title {
            margin-bottom: 5px;
        }
    }

    .single-post {
        aside {
            margin-top: 4rem;
        }
    }

    blockquote:not(.is-style-large),
    blockquote.is-style-large p,
    blockquote.is-style-large strong {
        max-width: 80%;
    }
}

@media only screen and (min-width: 1100px) {
    .contact_info {
        min-height: 100vh;

        >div.row {
            max-width: 700px;
            margin-left: auto;
        }

        .btn-full {
            margin-right: auto;
            margin-left: 0;
            display: inline-block;
        }

        .section-form,
        .contact_info_inner {
            margin-left: initial;
            margin-right: initial;
        }

        .contact_info_inner {
            padding: 4rem 4rem 3rem 4rem;
            min-width: 300px;

            p {
                margin-bottom: 2.4rem;
            }
        }
    }

    .contact_close {
        width: 92px;
        height: 92px;
    }

    /*----------  Hero section small  ----------*/
    .hero--small {
        .hero-section__img {
            min-height: 250px;
        }
    }
}

@media only screen and (min-width: 1300px) {
    .donate-icon {
        width: auto;
    }

    .container {
        max-width: 1160px;
        width: 100%;
    }

    .social-icon__wrap {
        left: calc((100% - 1160px)/2 - 55px);
    }

    /*----------  Hero section small  ----------*/
    .hero--small {
        .hero-section__img {
            min-height: 300px;
        }
    }
}

@media only screen and (min-width: 1160px) {
    .float-icon {
        .social-icon-text {
            font-size: 16px;
        }
    }
}

@media only screen and (min-width: 1200px) {
    .post-item {
        &_content {
            padding: 15px;

            p {
                -webkit-line-clamp: 3;
            }
        }
    }
}


/*----------  desktop 1450px ----------*/

@media only screen and (min-width: $desktop) {
    html {
        font-size: 62.5%;
    }

    .scroll {
        width: 88px;
        height: 88px;

        img {
            width: auto;
        }
    }

    .services_content {
        margin-left: 3rem;
    }

    .section-title .mark {
        height: 32px;
        top: 26px;
    }

    .hero-section__img {
        min-height: 500px;
    }

    .social-icon__wrap {
        left: calc((100% - 1160px)/2 - 80px);
    }

    .social-icon__wrap {

        .tag &,
        .author & {
            padding-top: 78px;
        }
    }
}


/*----------  xdesktop 1600px ----------*/

@media only screen and (min-width: $xdesktop) {
    .slider-dots-right {
        .slick-dots {
            right: calc((100% - 1366px)/2 + -90px);
        }
    }
}