/*=============================================
=            Reset css            =
=============================================*/

*,
*:after,
*:before {
    box-sizing: border-box;
}

html {
    // `font-size` for REM use
    font-size: 40.5%;
    // Cancel hightlight color when tapping in iOS
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: $main-font;
    color: $font-color;
    line-height: 1.9rem;
    background-color: #fff;
    margin: 0;
    font-weight: 400;
    margin-top: 70px;
}

img {
    max-width: 100%;
    vertical-align: middle;
    height: auto;
}

a {
    text-decoration: none;
}

input[type="text"],
input[type="search"] {
    font-size: inherit;
    line-height: inherit;
}

// Text selection
::selection {
    text-shadow: none;
    background: $second-color;
    color: #fff;
}

:focus {
    outline: 0;
    outline-color: transparent;
    outline-style: none;
}

.scroll {
    background-color: $second-color;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 100%;
    position: fixed;
    display: none;
    bottom: 30px;
    right: 30px;
    width: 40px;
    height: 40px;
    cursor: pointer;
    z-index: 777;
    margin-bottom: 17rem;
    @include fluid-type(margin-bottom, 320px, 990px, 3rem, 17rem);

    &:after {
        content: "";
        background-image: url('img/arrow-top.svg');
        background-repeat: no-repeat;
        background-size: contain;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 28px;
        height: 40px;
    }

    img {
        width: 13px;
    }
}


/*=============================================
=            BASE            =
=============================================*/

.hide-on-desktop {
    display: none;
}

.color-dark-green {
    color: $dark-green;
}

.color-black {
    color: $font-title;
}

.dashed-devider {
    width: 35px;
    height: 3px;
    border-top: 2px dashed #FFFFFF;
}

.background-white {
    background-color: #fff;
}

.background-white-opacity {
    background-color: rgba(255, 255, 255, 0.557);
}

.background-grey {
    background-color: $background-color;
}

.background-green {
    background-color: $second-color;
}

.background-dark {
    background-color: $dark-main;
}

.background-light-green {
    background-color: $main-color;
}

.section {
    @include fluid-type(padding-top,
        320px,
        1366px,
        4rem,
        6rem);
    @include fluid-type(padding-bottom,
        320px,
        1366px,
        4rem,
        6rem);
}

.section-small {
    padding-bottom: 4rem;
    padding-top: 4rem;
}

.mind-box-section.section {
    padding-bottom: 4rem;
}

.line-left {
    position: relative;
    padding-left: 3rem;

    &:before {
        content: "";
        position: absolute;
        height: 40%;
        max-height: 110px;
        min-height: 11rem;
        width: 2px;
        background-image: url(img/dashed-pattern.png);
        background-size: contain;
        left: 0;
        top: 0;
    }
}

.border {
    border: 2px solid $dark-green;
}

.circle-shape {
    border-radius: 50%;
}

.color-green {
    color: $main-color;
}

.relative {
    position: relative;
}

.section-title-smaller {
    margin: 1rem 0 3rem 0;
}

.section-header {
    max-width: 570px;
    @include push--auto;
    text-align: center;

    h1,
    h2 {
        margin-bottom: 4.5rem;
    }

    p {
        margin-bottom: 7rem;
    }
}

.mb-normal {
    @include fluid-type(margin-bottom,
        320px,
        1366px,
        2rem,
        3rem);
}

.mb-big {
    @include fluid-type(margin-bottom,
        320px,
        768px,
        3rem,
        5rem);
}

.box-content {
    @include fluid-type(padding,
        320px,
        768px,
        2rem,
        3rem);
    margin-left: 3rem;

    &.line-left {
        &:before {
            top: 3rem;
        }
    }

    .btn {
        margin-top: 4.4rem;
    }
}

.box-img {
    width: 100%;
    height: 0;
    padding-bottom: 40%;
    margin: 0 auto;
}

.big-circle {
    width: 100%;
    height: 0;
    padding-bottom: 100%;
    margin: 0 auto;
    border-radius: 50%;
    position: relative;
    z-index: 1;
}

.circle-shapes {
    position: relative;
    width: 85%;
    max-width: 40rem;

    .circle-bigger {
        left: -10px;
        bottom: -29px;
        background-color: rgba(193, 218, 106, 0.8);
    }

    .circle-small {
        top: 1px;
        left: -4px;
        z-index: 2;
        background-color: rgba(87, 172, 156, .8);
    }

    .circle-big {
        top: -39px;
        left: 27px;
        background-color: rgba(239, 239, 239, .8);
    }
}

.border-top {
    border-top: 1px solid rgba(152, 152, 152, 0.3);
}


/*=============================================
=            Navigation            =
=============================================*/

body.home,
body.category,
body.tag,
body.author,
body.blog {
    margin-top: 0 !important;
}

.home,
.category,
.blog,
.tag,
.author {
    .header {
        background-color: transparent;
        transition: none;

        &.open {
            background-color: $dark-green;
            transition: none;
            top: 0 !important;

            .right-menu {
                margin-bottom: 80px;
            }
        }
    }
}

.background-dark-important {
    background-color: $dark-green !important;
    transition: all .5s ease-in-out;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    z-index: 999;
    transition: all .5s ease-in-out;

    &.scrollUp {
        top: -115px;
        transition: all .5s ease-in-out;
    }

    .container {
        max-width: 1366px;
    }
}

.header-wrap {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.5rem;
}

.nav-wrap {
    width: 100%;
    position: fixed;
    top: 66px;
    right: 0;
    height: 100%;
    width: 100%;
    background: $dark-green;
    display: none;
    z-index: -999;
    padding-top: 40px;
}

.nav {
    height: 100%;
    overflow: scroll;
}

.open {
    .nav-wrap {
        display: block;
        z-index: 999;
        transition: opacity .3s ease-in-out;

        .navigation-menu {
            li {
                opacity: 1;
                transition-delay: 1s;
                transform: translateY(0);
                transition: opacity .3s ease-in-out, transform .3s ease-in-out;
            }
        }
    }

    #nav-icon {
        span:nth-child(1) {
            top: 18px;
            width: 0%;
            left: 50%;
        }

        span:nth-child(2) {
            transform: rotate(45deg);
        }

        span:nth-child(3) {
            transform: rotate(-45deg);
        }

        span:nth-child(4) {
            top: 18px;
            width: 0%;
            left: 50%;
        }
    }

    &.scrollUp {
        top: 0 !important;
    }
}

.navigation-menu {
    margin: 0;
    padding: 0;
    list-style: none;
    width: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;

    li {
        padding: 0;
        opacity: 0;
        transform: translateY(-15px);

        &:before {
            display: none;
        }
    }

    >li {
        &:hover {
            >a {
                color: $main-color;
            }
        }

        &.current_page_item,
        &.current-menu-item {
            >a {
                &:before {
                    content: "";
                    display: inline-block;
                    width: 10px;
                    height: 2px;
                    position: absolute;
                    bottom: 4px;
                    left: 50%;
                    right: 50%;
                    transform: translateX(-50%);
                    background-color: $main-color;
                }
            }
        }
    }
}

.menu-item-has-children {
    >a {
        &:after {
            content: '';
            @include css-triangle(#fff,
                down,
                5px);
            display: inline-block;
            vertical-align: middle;
            position: relative;
            margin-left: 6px;
            transition: all 0.3s ease;
        }
    }

    &.active {
        .sub-menu {
            background-color: $hover-green;
        }
    }

    &:hover {
        >a:after {
            @include css-triangle($main-color,
                down,
                5px);
            display: inline-block;
            position: relative;
        }

        .sub-menu {
            background-color: $hover-green;
        }
    }
}

.sub-menu {
    display: none;
    margin: 0;
    padding: 0;
    list-style: none;

    li {
        margin: 0;
        transition: all 0.3s ease;
    }
}

#secondary-menu,
.navigation-menu {
    a {
        color: #fff;
        text-decoration: none;
        display: block;
        white-space: nowrap;
        padding: 10px 15px;
        font-size: 16px;
    }

    li {
        text-align: center;
        padding: 0;

        &:before {
            display: none;
        }
    }
}

#secondary-menu {
    a {
        transition: all .3s ease-in-out;

        &:hover {
            color: $main-color;
        }
    }
}


/*----------  Navigation icon  ----------*/

#nav-icon {
    width: 35px;
    height: 23px;
    position: relative;
    transform: rotate(0deg);
    transition: .5s ease-in-out;
    cursor: pointer;

    span {
        display: block;
        position: absolute;
        height: 3px;
        width: 100%;
        background: $main-color;
        border-radius: 4px;
        opacity: 1;
        left: 0;
        transform: rotate(0deg);
        transition: .25s ease-in-out;

        &:nth-child(1) {
            top: 0px;
        }

        &:nth-child(2),
        &:nth-child(3) {
            top: calc(50% - 2px);
        }

        &:nth-child(4) {
            bottom: 0px;
        }
    }
}

.site-branding {
    width: 170px;
}

.wpml-ls-legacy-dropdown {
    display: none;
    box-shadow: none;
    width: auto;
    margin: 0 auto;
    background: transparent;

    a {
        background-color: transparent;
        color: #fff;
        padding: 13px 15px;
        font-size: 16px;
        border-radius: 7px;

    }

    a.wpml-ls-item-toggle {

        &:hover,
        &:focus {
            background: transparent !important;
            color: #fff !important;
        }
    }

    .wpml-ls-current-language:hover>a {
        color: #fff;
        background-color: transparent;
    }

    .wpml-ls-item {
        list-style-type: none;

        &:before {
            display: none;
        }
    }

    .wpml-ls-sub-menu  {
        border-top: 0;
        .wpml-ls-item {
            background-color: #fff;
            border-radius: 7px;
    
            a {
                color: $font-title;
                background: #fff;
    
                &:hover {
                    color: $font-title;
                    background: #EFEFEF;
                    transition: all .3s ease-in-out;
                }
            }
    
            .wpml-ls-display {
                display: none;
            }
        }
    }
    

    .wpml-ls-link {
        display: flex;
        flex-direction: row;
        padding-right: 15px;
    }

    .wpml-ls-current-language:not(.wpml-ls-last-item) a.wpml-ls-item-toggle {
        &:after {
            @include css-triangle(#fff, down, 5px);
            margin-top: 0;
        }
    }

    .wpml-ls-current-language.wpml-ls-last-item a.wpml-ls-item-toggle {
        padding-right: 15px;
        &:after {
            display: none;
        }
    }

}

.right-menu {
    display: flex;
    flex-direction: column-reverse;
    margin-bottom: 100px;
}

.current_page_item,
.current-menu-item {
    >a {
        color: $main-color;
        font-weight: 600;
        position: relative;
    }

    &.menu-item-has-children>a:after {
        @include css-triangle($main-color,down, 5px);
        display: inline-block;
        position: relative;
    }
}

.search-icon {
    width: 45px;
    height: 45px;
    background-color: rgba(255, 255, 255, 0.3);
    border-radius: $border-radius;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
}


/*----------  Button  ----------*/

.btn {
    text-transform: uppercase;
    font-weight: 500;
    @include fluid-type(font-size,
        320px,
        990px,
        12px,
        14px);
    font-weight: 500;
    padding: 12px 20px;
    display: inline-block;
    transition: all .4s;
}

.btn-underline {
    font-size: 14px;
    font-family: $title-font;
    line-height: 28px;
    font-weight: 500;
}

.btn-full {
    border-radius: 5px;
    color: #fff;

    svg {
        width: 20px;
    }
}

.btn-arrow {
    position: relative;

    &.btn-link,
    &.btn {
        padding-right: 23px;
    }

    &:before {
        content: "";
        background-image: url('img/arrow-green.svg');
        background-size: contain;
        background-repeat: no-repeat;
        width: 16px;
        height: 16px;
        position: absolute;
        right: 0;
        top: 50%;
        transform: translate(0, -50%);
        transition: all 0.3s ease;
    }

    svg {
        width: 20px;
    }

    &:hover {
        &:before {
            transform: translate(4px, -50%);
            background-image: url('img/arrow-green-light.svg');
        }
    }
}

.btn-dark {
    background-color: $dark-green;

    &:hover {
        background-color: $main-color;
    }
}

.btn-light-green {
    background-color: $main-color;
    color: #fff;

    &:hover {
        background-color: $dark-green;
    }
}

.btn-dark-green {
    background-color: $dark-green;
    color: #fff;

    &:hover {
        background-color: $main-color;
    }
}

.btn-green {
    background-color: $main-color;
}

.btn-white {
    background-color: #fff;

    &:hover {
        background-color: $second-color;
        color: #fff;
    }
}

.btn.btn-icon {
    padding-right: 64px;
    position: relative;

    &:before {
        content: "";
        display: inline-block;
        background-image: url(img/donate.png);
        background-size: contain;
        width: 30px;
        height: 23px;
        position: absolute;
        right: 20px;
        top: 50%;
        bottom: 50%;
        transform: translateY(-58%);
    }
}

.btn-link {
    @include fluid-type(font-size,
        320px,
        990px,
        12px,
        14px);
    @include fluid-type(line-height,
        320px,
        1450px,
        18px,
        20px);
    text-transform: uppercase;
    line-height: 24px;
    color: $second-color;
    font-weight: 500;
    padding: 6px 0;
    transition: color .3s linear;
    display: inline-block;

    &:hover {
        color: $main-color;
    }
}

.btn-link_green {
    position: relative;

    &:after {
        content: "";
        background-image: url(img/dashed-line-bottom.png);
        background-size: contain;
        left: 0;
        display: inline-block;
        width: 100%;
        height: 2px;
        position: absolute;
        bottom: 0;
        left: 0;
    }
}

.btn-link_light_green {
    border-bottom: 2px solid $second-color;
}

.btn-center {
    @include push--auto;
}

.btn-border-green {
    color: $dark-green;
    border: 1px solid $dark-green;
    background-color: transparent;
    border-radius: $border-radius;

    &:hover {
        background-color: $main-color;
        border-color: $main-color;
        color: #fff;
        transition: all .3s ease-in-out;
    }
}


/*----------  hero section  ----------*/

.hero {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;

    h1 {
        font-size: 6rem;
        font-family: $title-font;
        line-height: 7rem;
        font-weight: 200;
        color: #fff;
        text-align: center;
        position: relative;
        bottom: 45px;
    }

    strong {
        color: $dark-green;
        display: inline-block;
        position: relative;
        font-weight: 200;

        &:after {
            content: "";
            height: 3px;
            width: 100%;
            background-color: $second-color;
            display: inline-block;
            position: absolute;
            bottom: -4px;
            left: 0;
        }
    }

    &.opacity {
        &:before {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: rgba(9, 152, 126, .75);
        }
    }
}

.hero-section__img {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 340px;

    .container {
        height: 100%;
        padding-top: 17rem;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    h1 {
        color: #fff;
        @include fluid-type(font-size,
            320px,
            1450px,
            40px,
            70px);
        @include fluid-type(line-height,
            320px,
            1450px,
            48px,
            78px);
    }

    p {
        color: #fff;
        @include fluid-type(font-size,
            320px,
            1450px,
            14px,
            16px);
        text-transform: uppercase;
    }

    .dashed-devider {
        display: inline-block;
        border-top: 2px dashed #FFFFFF;
        width: 35px;
        margin-bottom: 1.5rem;
    }
}

.top-gradient {
    position: relative;

    &:before {
        content: "";
        display: block;
        width: 100%;
        height: 126px;
        background: linear-gradient(180deg, #363636 -34.92%, rgba(54, 54, 54, 0) 92.86%);
        position: absolute;
        top: 0;
        right: 0;
        left: 0;
    }
}


/*----------  Counter section  ----------*/

.counter__box {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    padding-bottom: 40px;

    &:nth-last-of-type(1),
    &:nth-last-of-type(2) {
        padding-bottom: 0;
    }

    p {
        color: rgba(255, 255, 255, .6);
        text-align: center;
        max-width: 150px;
    }

    h3 {
        color: #fff;
        text-align: center;
        margin-bottom: 13px;
        @include fluid-type(font-size,
            320px,
            1450px,
            30px,
            48px);
        @include fluid-type(line-height,
            320px,
            1450px,
            24px,
            52px);
    }
}

.counter__icon {
    height: 7rem;
    max-width: 100%;
    max-height: 100%;
    margin-bottom: 17px;

    img {
        margin: 0 auto;
        display: block;
        max-height: 100%;
    }
}


/*----------  cta box  ----------*/

.cta-box {
    padding: 6rem 0 81px;

    .container {
        position: relative;
    }

    * {
        color: #fff;
    }

    h3 {
        margin-bottom: 5px;
    }

    p {
        opacity: .8;
    }

    .btn-full {
        margin-top: 1.4rem;
        margin-right: auto;
    }
}

.bicycle-icon {
    width: 180px;
    position: absolute;
    right: 20px;
    bottom: -78px;
}


/*---------- New masonry  ----------*/

.grid:after {
    content: '';
    display: block;
    clear: both;
}

.grid-item {
    float: left;
    margin-bottom: 20px;
}

.grid-item--width2 {
    width: 100%;
}

.grid-sizer,
.grid-item {
    width: 100%
}

.news-masonry {
    &__card {
        border: 1px solid $border-color;
        // padding: 3rem 3rem 2.3rem 3rem;
        transition: all .3s ease-in-out;

        &:hover {
            @include shadow;
            transition: all .3s ease-in-out;
        }

        &.color-white {
            * {
                color: #fff;
            }
        }
    }

    &__card-content {
        padding: 3rem 3rem 2.5rem 3rem;
    }

    &__card-title {
        font-weight: 600;
    }
}

.team {
    .btn-link {
        display: inline-block;
        text-align: center;
    }

    .more>p {
        transition: all 1s cubic-bezier(0, 1, 0, 1);
        margin-top: 3rem;
    }

    .morecontent span {
        display: none;
    }

    .morelink {
        margin-top: 3.5rem;
        transition: all 1s cubic-bezier(0, 1, 0, 1);
        width: 130px;
        display: block;
    }
}

.team-home {
    .btn-full {
        @include fluid-type(margin-top,
            320px,
            1366px,
            3rem,
            6rem);
    }
}

.team-home_wrap {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.team-home_title_box {
    margin-bottom: 9rem;
}

.team-home_box {
    display: block;
    overflow: hidden;
    width: 200px;
    @include push--auto;
    margin: 0 10px 20px 10px;
    position: relative;

    &:before {
        content: "";
        background-color: rgba(16, 111, 94, .75);
        position: absolute;
        opacity: 0;
        z-index: 1;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }

    .team-home_img {
        position: relative;
        overflow: hidden;
        border-radius: 50%;
        width: 200px;
        height: 200px;

        img {
            position: absolute;
            top: 0%;
            left: 50%;
            height: 320px;
            width: auto;
            max-width: initial;
            transform: translateX(-50%);
            -webkit-transform: translateX(-50%);
            -moz-transform: translateX(-50%);
            -ms-transform: translateX(-50%);
            -o-transform: translateX(-50%);
        }
    }

    .team-home_content {
        max-width: 150px;
        margin: 0 auto;
        height: 120px;

        h6 {
            color: #106F5E;
            line-height: 26px;
            font-weight: 600;
            font-size: 18px;
            font-family: $main-font;
            margin: 0;
            text-transform: none;
        }

        hr {
            width: 15px;
            margin-left: auto;
            display: inline-block;
            border: none;
            height: 2px;
            background: $second-color;
            margin: 15px auto 3px;
        }

        p {
            font-size: 14px;
        }
    }

    a {
        display: block;
    }
}

.two-columns {
    &:not(:last-child) {
        margin-bottom: 9rem;
    }

    &.two-columns-reverse {
        flex-direction: row-reverse;
    }

    .circle-shapes {
        margin: 0 auto;
    }
}


/*----------  footer  ----------*/

.site-footer {
    padding-bottom: 10rem;

    .container {
        max-width: 1366px;
    }

    h4 {
        @include fluid-type(font-size,
            320px,
            1450px,
            18px,
            24px);
        @include fluid-type(line-height,
            320px,
            1450px,
            24px,
            30px);
        color: $main-color;
    }

    p {
        @include fluid-type(font-size,
            320px,
            768px,
            12px,
            14px);
        color: $font-title;
        margin-bottom: 11px;
    }

    .copyright {
        color: #989898;
    }

    .iconify {
        margin-right: 8px;
        position: relative;
        top: 3px;
        font-size: 17px;
    }

    .list-icon {
        padding-left: 24px;
        position: relative;
        transition: all 0.2s ease;

        .iconify {
            position: absolute;
            left: 0;
        }
    }

    .navbar-brand {
        max-width: 190px;
        margin-bottom: 2rem;
    }

    a {
        &:hover {
            .list-icon {
                color: $main-color;
            }
        }
    }
}

.footer-logo {
    order: 4;
}

.social-icon {
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-size: 20px;

    .icon {
        background-color: rgba(41, 106, 69, .3);
        display: inline-block;
        cursor: pointer;
        border-radius: 9px;
        width: 36px;
        color: #fff;
        height: 36px;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-left: 13px;
        transition: all .3s ease;

        &:hover {
            background-color: $hover;
            color: $dark-green;
        }
    }
}

.float-icon {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: auto;
    background: #209350;
    z-index: 666;
    padding-top: 8px;
    padding-bottom: 7px;

    .social-icon-text {
        display: none;
    }
}


/*----------  slick slider  ----------*/

.pagingInfo,
.pagination-number {
    @include fluid-type(font-size,
        320px,
        1450px,
        14px,
        16px);
    color: $dark-green;
    font-weight: 500;
}

.pagination-number {
    position: relative;
    top: 4px;
}

.pagingInfo {
    width: 24%;
}

.pagination {
    padding: 2.5rem 0 6rem 0;
}

.paginator,
.pagination {
    position: relative;
    margin-bottom: 20px;
    max-width: 508px;
    margin: 0 auto;

    ul,
    ul.slick-slide {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    li {
        margin-top: 20px;
        position: relative;
        cursor: pointer;

        &.prev {
            display: block;
            width: 70px;
            background: url('img/slider-arrow-left.png') no-repeat;
            background-size: contain;
            margin-right: 20px;
        }

        &.next {
            display: block;
            width: 70px;
            background: url('img/slider-arrow-right.png') no-repeat;
            background-size: contain;
            margin-left: 20px;
        }
    }
}

.pagination {
    li {
        &.prev,
        &.next {
            background: none;
        }
    }
}

.slider-dots {
    .slick-dots {
        display: flex;

        >li.slick-active {
            &:before {
                background-color: #fff;
            }
        }

        >li {
            display: inline-block;
            padding: 14px 20px;
            cursor: pointer;
            position: relative;
            margin: 0;

            &:before {
                width: 9px;
                height: 9px;
                border: none;
                background-color: rgba(255, 255, 255, .5);
                position: absolute;
                left: 50%;
                right: 50%;
                box-shadow: none;
                transform: translateX(-50%);
            }
        }

        button {
            display: none;
        }
    }
}

.slider-dots-right {
    .slick-dots {
        position: absolute;
        left: 50%;
        right: 50%;
        transform: translateX(-50%);
        bottom: 15px;
        width: 100%;
        display: flex;
        justify-content: center;
    }
}

// Single item slider
.single-item-slider {
   
    .slick-slide {
        position: relative;
    }
    &__caption {
        background-color: rgba(255, 255, 255, 0.343);
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        width: 100%;
        text-align: center;
        padding: 3px 20px;
        p {
            color: #fff;
            font-size: 14px!important;
            line-height: 18px!important;
            margin-bottom: 0!important;
        }
    }
}


/*=============================================
=            ABOUT PAGE            =
=============================================*/

.team {
    .team_cart {
        border: 1px solid transparent;
        transition: all .3s ease-in-out;

        &:hover {
            @include shadow;
            transition: all .3s ease-in-out;
        }
    }

    .team_image {
        padding: 3rem 0 3rem 1.5rem;
    }

    .team_content {
        display: flex;
        flex-direction: column;
        align-items: start;
        padding: 3rem;

        .subtitle {
            font-size: 14px;
            line-height: 18px;
        }

        .btn-link {
            margin-top: auto;
        }
    }
}


/*----------  Partners  ----------*/

.partner-logo {
    max-width: 190px;
    height: 80px;
    width: 80%;
    margin: 0 auto;
    margin-bottom: 7rem;
    display: flex;
    align-items: center;
    justify-content: center;

    img {
        max-width: 100%;
        max-height: 100%;
        filter: grayscale(100);
    }
}

.list-border li {
    border: 1px solid $border-color;
    padding: 1.5rem 1.5rem 1.5rem 6rem;
}

.list-counter {
    counter-reset: li;

    li {
        &:before {
            counter-increment: li;
            content: counter(li, decimal-leading-zero);
            font-weight: 500;
            background: none;
            border: none;
            height: auto;
            width: auto;
            @include fluid-type(font-size,
                320px,
                990px,
                18px,
                24px);
            color: $main-color;
            letter-spacing: -1px;
            left: 1.2rem;
            top: 3.4rem;
        }
    }
}


/*=============================================
=            SERVICES            =
=============================================*/

.services-slider {
    overflow: hidden;

    .paginator {
        @include fluid-type(margin-top,
            320px,
            990px,
            3rem,
            6.6rem);
    }

    .center {
        max-height: 550px;
        overflow: hidden;
    }

    .subtitle {
        text-transform: none;
        @include fluid-type(font-size,
            320px,
            768px,
            13px,
            14px);
    }
}

.services_content {
    padding: 4.8rem 1.8rem 4rem 3rem;
    max-width: 470px;

    h3 {
        color: $dark-green;
    }

    &.line-left {
        &:before {
            top: 5rem;
        }
    }

    .btn-group {
        margin-top: 26px;
    }

    a:not(.btn) {
        color: $main-color;
        text-decoration: underline;
        font-weight: 600;
    }
}

.services-post_header {
    max-width: 650px;
    border-bottom: 1px solid #D8D8D8;
    @include push--auto;
    margin-bottom: 5rem;

    h1 {
        text-align: center;
        margin-bottom: 4rem;
    }

    p {
        @include fluid-type(font-size,
            320px,
            990px,
            12px,
            16px);
        @include fluid-type(padding-top,
            320px,
            990px,
            7px,
            13px);
        @include fluid-type(padding-bottom,
            320px,
            990px,
            7px,
            13px);
        color: $main-color;
        width: 49%;
        display: inline-block;
        text-align: center;
        border-right: 1px solid #D8D8D8;
        margin: 0;

        &:nth-of-type(2n) {
            border: none;
        }
    }
}


/*----------  Editor  ----------*/

.editor {
    padding-bottom: 4rem;

    h2 {
        @include fluid-type(font-size, 320px, 1450px, 24px, 30px);
        @include fluid-type(line-height, 320px, 1450px, 32px, 36px);
    }

    h3 {
        @include fluid-type(font-size, 320px, 1450px, 24px, 26px);
        @include fluid-type(line-height, 320px, 1450px, 32px, 32px);
       
    }
    
    h4 {
        @include fluid-type(font-size, 320px, 1450px, 22px, 24px);
        @include fluid-type(line-height, 320px, 1450px, 28px, 30px);
    }

    h2,
    h3,
    h4,
    h5,
    h6 {
        margin: 3.5rem 0 2.2rem 0;
    }

    p,
    li {
        @include fluid-type(font-size,
            320px,
            1450px,
            14px,
            16px);
        @include fluid-type(line-height,
            320px,
            1450px,
            22px,
            28px);
    }

    p,
    li {
        margin-bottom: 1.8rem;
    }

    li {
        &:last-of-type:not(.next) {
            margin-bottom: 0;
        }

        &:before {
            border: none;
            top: 11px;
            box-shadow: none;
        }
    }

    strong {
        font-weight: 700;
    }

    a {
        text-decoration: underline;

        &:hover {
            color: $main-color;
        }
    }

    img {
        width: 100%;
    }

    figure {
        margin-bottom: 2.2rem;
    }

    figcaption {
        text-align: center;
    }

    blockquote:not(.is-style-large),
    blockquote.is-style-large,
    ul {
        padding-bottom: 3rem;
        margin: 0;
        @include fluid-type(padding-bottom,
            320px,
            990px,
            2rem,
            4rem);
    }

    .wp-block-image {
        @include aspect-ratio(56.25%);

        figcaption {
            position: absolute;
            bottom: 0;
            left: 0;
            right: 0;
            margin: 0;
            padding: 5px;
            background: $main-color;
            color: #fff;
            font-size: 12px;
        }
    }

    blockquote:not(.is-style-large) {
        position: relative;
        max-width: 90%;
        margin-top: 60px;
        @include push--auto;

        p {
            @include fluid-type(font-size,
                320px,
                1366px,
                18px,
                22px);
            @include fluid-type(line-height,
                320px,
                1450px,
                24px,
                28px);
            font-weight: 500;
            text-align: center;
            font-family: $title-font;
        }

        &:before {
            content: "";
            background-image: url('img/blockquote.svg');
            background-size: contain;
            background-repeat: no-repeat;
            width: 40px;
            height: 40px;
            position: absolute;
            left: 50%;
            top: -22px;
            z-index: 0;
            transform: translate(-50%, -50%);
        }
    }

    blockquote.is-style-large {

        p,
        strong {
            font-size: 16px;
            line-height: 24px;
            font-weight: 500;
            max-width: 90%;
            @include push--auto;
            text-align: center;
            font-family: $title-font;
        }
    }

    .wp-block-video {
        margin-bottom: 2rem;
    }

    .wp-block-embed__wrapper {
        margin-bottom: 2rem;
        padding-bottom: 56.25%;
        height: 0;
        overflow: hidden;
        position: relative;

        iframe {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
        }
    }
}

.blocks-gallery-grid {
   padding: 0;
    li {
        padding: 0;
        &:before {
            display:none;
        }
    }
}

.green-box {
    background-color: $dark-green;
    padding: 3rem;

    *:not(strong) {
        color: #fff;
        text-transform: none;
    }

    strong {
        color: $main-color;
        font-size: 2.5rem;
        font-weight: 600;
    }

    p {
        font-size: 18px;
    }
}


/*=============================================
=    CATEGORY box, TAG box, COMMENT box          =
=============================================*/

.cat-box {
    color: #fff;
    display: flex;
    align-items: center;
    margin-right: 10px;
    padding-right: 5px;
    min-height: 20px;
    position: relative;
    z-index: 1;

    img {
        margin-right: 5px;
        margin-bottom: 2px;
    }

    &__item {
        display: block;
        font-size: 12px;
        line-height: 12px;
        font-weight: 500;
        letter-spacing: 0.04em;

        &:after {
            content: '>';
            display: inline-block;
            padding: 0 5px;
        }

        &:last-of-type {
            &:after {
                display: none;
            }
        }
    }

    &:hover {
        .cat-box__item {
            text-decoration: underline;
        }
    }
}

.tag-box {
    color: #fff;
    display: flex;
    align-items: center;
    flex-wrap: wrap;

    img {
        // margin: 3px 5px 3px 0;
        margin-right: 5px;
    }

    &__item {
        display: block;
        background: $light-grey;
        color: $dark-green;
        // margin-right: 7px;
        margin: 2px 7px 2px 0;
        padding: 2px 4px;
        border-radius: 2px;
        font-size: 12px;
        line-height: 13px;
        font-weight: 500;
        letter-spacing: 0.03em;
        transition: all 0.2s ease;
        position: relative;
        z-index: 1;

        &--green {
            background: #fff;
            border: 1px solid $main-color;
            color: $main-color;

            &:hover {
                border: 1px solid $second-color;
                color: $second-color;
            }
        }

        &:hover {
            opacity: 0.8;
        }
    }
}

.comment-box {
    color: #fff;
    display: flex;
    align-items: center;
    min-height: 28px;

    img {
        margin-right: 5px;
    }

    &__num {
        font-size: 12px;
        line-height: 14px;

        &--green {
            color: $dark-green;
        }
    }
}


/*=============================================
=            POST ITEM           =
=============================================*/

.post-item {
    position: relative;
    display: block;
    box-shadow: $box-shadow-card;
    margin-bottom: 3.5rem;

    &_image {
        position: relative;
    }

    &__cat {
        box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.15);
        background: $second-color;
        position: absolute;
        top: 13px;
        left: 0;
        padding: 4px 8px;
    }

    &_content {
        padding: 15px;

        >p {
            margin-bottom: 8px;
        }
    }

    &__title {
        margin-bottom: 10px;
        @include fluid-type(font-size,
            320px,
            1450px,
            20px,
            22px);
        @include fluid-type(line-height,
            320px,
            1450px,
            22px,
            26px);
        transition: all 0.3s ease;
        color: $font-color;
        position: relative;
        z-index: 1;

        &:hover {
            color: $main-color;
        }
    }

    &__info {
        display: flex;
        padding-bottom: 7px;
        margin-bottom: 5px;
        border-bottom: 1px solid $grey-30;
        font-size: 14px;
    }

    &__date {
        padding-right: 8px;
        border-right: 1px solid $grey;
        margin-right: 8px;
    }

    &__footer {
        display: flex;
        align-items: flex-end;
    }

    &__tags {
        flex: 1;
        margin-right: 6px;
    }

    .btn-link {
        margin-left: auto;
        padding-top: 4px;
        position: relative;
        z-index: 1;
    }
}

.card-link {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.author-link {
    position: relative;
    z-index: 1;

    &:hover {
        color: #85c226;
    }
}


/*=============================================
=            BLOG PAGE            =
=============================================*/

.blog-page {
    .blog-page-list {
        .blog-row {
            padding: 4rem 0 6rem;
            border-bottom: 1px solid $border-color;

            &:hover {
                h3 {
                    color: $hover-green;
                }
            }

            &:first-of-type {
                padding-top: 0;
            }

            &:last-of-type {
                border-bottom: none;
            }
        }
    }

    h4 {
        font-weight: 400;
    }

    .margin-large {
        margin-top: 5rem;
    }
}

.blog-page-categories {
    border-bottom: 1px solid $grey-30;
    margin-bottom: 3rem;

    li {
        display: inline-block;
        padding: 2rem 1rem;
        margin-bottom: 0;

        a {
            @include fluid-type(font-size,
                320px,
                1450px,
                13px,
                18px);
        }

        &:hover {
            a {
                color: $dark-green;
            }
        }
    }

    .active-cat {
        background-color: rgba(32, 147, 80, .3);
        color: $dark-green;

        a {
            font-weight: 600;
        }
    }
}

.subtitle {
    @include fluid-type(font-size,
        320px,
        990px,
        13px,
        14px);
    font-weight: 300;
    line-height: 18px;
    color: $grey;

    span,
    a {
        font-size: 14px;
        color: $main-color;
        font-weight: 600;
    }
}


/*=============================================
=            SINGLE POST            =
=============================================*/

.post-hero {
    margin: 4rem 0;

    &__img {
        @include aspect-ratio(56.25%);
    }

    .featured-post__info {
        padding: 0 0 10px 0;
        @include fluid-type(font-size,
            320px,
            1450px,
            14px,
            16px);
        @include fluid-type(line-height,
            320px,
            1450px,
            17px,
            19px);
    }

    .featured-post__author {
        strong {
            margin: 0 4px;
        }
    }

    .featured-post__banner {
        margin-top: -3px;
    }

    .cat-box {
        margin-right: 20px;
    }

    &__wrap {
        padding-top: 1px;

        .post-hero {
            margin-top: 20px;
        }
    }
}

.border-shadow {
    box-shadow: -16px 16px 0px -1px $main-color;
}

.post-header {
    text-align: center;

    .subtitle {
        text-transform: uppercase;
    }

    hr {
        width: 60px;
        border: none;
        height: 3px;
        background-color: $main-color;
        margin: 3rem auto 3rem auto;
    }

    p:not(.subtitle) {
        color: $dark-green;
        font-weight: 600;
        max-width: 600px;
        @include push--auto;
    }
}

.post-author {
    text-align: center;
}

.post-author-box {
    padding-top: 4rem;
    padding-bottom: 4rem;
    margin-top: 4rem;
    border-top: 1px solid $border-color;
    border-bottom: 1px solid $border-color;
}

.post-author_image {
    width: 133px;
    height: 133px;
    position: relative;
    overflow: hidden;
    border-radius: 50%;
    @include push--auto;
    margin-bottom: 2rem;

    img {
        max-width: initial;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}

.post-author_content {
    span {
        font-size: 14px;
        color: $grey;
        display: inline-block;
        text-transform: uppercase;
        margin-bottom: 7px;
    }
}

button {
    display: block;
    margin: 5% auto 0;
    background: transparent;
    border: 2px solid #444;
    padding: 5px 10px;

    &.md-close {
        margin-top: 40px;
    }
}


/*=============================================
=            Contact page            =
=============================================*/


/*----------  Radio button style  ----------*/

input[type=submit] {
    margin-top: 2rem;
}

input[type=radio] {
    visibility: hidden;
    position: absolute;
}

.contact {
    padding: 0 15px;

    form span.wpcf7-not-valid-tip {
        color: #ff0101;
        background-color: transparent;
        bottom: -33px;
    }

    form div.wpcf7-validation-errors,
    form div.wpcf7-acceptance-missing,
    form div.wpcf7-mail-sent-ok {
        background-color: rgba(182, 224, 216, .3);
        color: #fff;
    }
}

.contact-logo {
    width: 17rem;
    position: relative;
    top: -10rem;
}

#map,
#map-legend {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: 1;
}

.mapboxgl-ctrl-bottom-left,
.mapboxgl-ctrl-bottom-right {
    display: none;
}

.map-legend-wrap {
    width: 100%;
    height: 250px;
    overflow: hidden;
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
}

.legend-wrap {
    position: relative;
    padding: 2rem 4rem;
    z-index: 1;
    width: 100%;
    display: flex;
    flex-wrap: wrap;

    * {
        color: #fff;
    }
}

.legend-title {
    width: 100%;
    text-align: center;
}

.legend-info {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 15px;

    p {
        @include fluid-type(font-size,
            320px,
            1450px,
            12px,
            14px);
        text-align: center;
        line-height: 19px;
    }
}

.legend-icon {
    width: 4.8rem;
    height: 4.8rem;
    background-color: #fff;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    margin-bottom: 10px;
}

.marker {
    border: none;
    cursor: pointer;
    height: 27px;
    width: 27px;
    background-color: rgba(0, 0, 0, 0);
    background-repeat: no-repeat;
    background-position: center;
    background-color: white;
    border-radius: 50%;
    padding: 10px;
    background-size: 43%;
}

.mapboxgl-popup {
    max-width: 200px;
}

.mapboxgl-popup-content {
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    padding: 20px 25px 15px;

    h6 {
        color: $main-color;
    }

    p {
        font-size: 14px;
    }
}

.mapboxgl-popup-close-button {
    right: -5px;
    top: -14px;
    font-size: 20px;
    color: $font-color;

    &:hover {
        background-color: transparent;
        color: $dark-green;
        transition: all .3s ease-in-out;
    }
}

.contact_info {
    padding-top: 12rem;
    min-height: 50vh;
    background-color: $dark-green;

    * {
        color: #fff;
    }

    .iconify-icon {
        margin-right: 11px;
        font-size: 18px;
        position: relative;
        top: 3px;
    }

    .social-icon {
        margin-top: 4rem;
        justify-content: flex-start;

        .icon-box {
            background-color: rgba(41, 106, 69, .3);
        }

        .icon {
            margin-left: 0;
            margin-right: 13px;
        }
    }

    form textarea {
        height: 148px;
    }

    .btn-link {
        font-size: 14px;
        font-weight: 500;
    }

    .section-form {
        padding-bottom: 4rem;
    }

    .section-form_header {
        text-align: left;

        p {
            opacity: .7;
        }
    }

    .btn-full {
        color: $dark-green;
    }

    .line-left {
        &:before {
            top: 0;
            background-image: url(img/line-light-green.png);
        }
    }

    h5 {
        font-weight: 300;
        margin-bottom: 15px;
    }

    &-link {
        &:hover {
            opacity: 0.7;
        }
    }
}

.contact_info_box {
    background-color: $second-color;
    padding: 2rem;
    margin: 0 auto;
    position: relative;
    z-index: 1;
    font-size: 12px;
}

.contact-info-col {
    padding-bottom: 4rem;

    p {
        margin-bottom: 16px;
        line-height: 22px;
    }

    em {
        opacity: .7;
        font-size: 12px;
        line-height: 16px;
        font-style: normal;
    }
}

.contact_map {
    min-height: 400px;
}

.contact_close {
    background-color: $main-color;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 31;
    width: 60px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;

    span {
        color: #fff;
        display: inline-block;
        font-size: 60px;
        font-weight: 200;
        transform: rotate(-45deg);
    }
}

.page-template-contact-template {

    .contact-logo,
    .float-icon,
    .donate-icon {
        display: none;
    }
}


/*=============================================
=            Share buttons            =
=============================================*/

.addtoany_shortcode {
    a[class^="a2a_button"] {
        display: flex;
        padding: 6px 10px;
        background-color: $second-color;
        border: 1px solid $second-color;

        &:hover,
        &:focus {
            background-color: #fff;
            transition: all .3s linear;
            box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.2) !important;
            border: 1px solid $main-color !important;

            svg {
                path {
                    fill: $dark-green;
                }
            }

            &:after {
                color: $dark-green;
            }
        }

        &:after {
            content: "Share";
            display: inline-block;
            margin-left: 5px;
            font-size: 12px;
            color: #fff;
            // display: none;
        }
    }
}

.addtoany_list {
    display: grid !important;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 15px;
}

#share {
    .addtoany_list .addtoany_share {
        font-size: 12px;
        background-color: #fff !important;
        border: 1px solid $border-color;
        border-radius: 8px;
        padding: 6px;
    }
}

.a2a_menu {
    border: none;

    .a2a_svg svg {
        background-color: $main-color;
    }

    a {
        color: $dark-green !important;
        font-size: 12px !important;
        font-family: $main-font !important;
    }
}

.editor {
    #share {
        margin-top: 0;

        .addtoany_list .addtoany_share {
            background-color: #EFEFEF !important;
        }
    }
}


/*=============================================
=            Service information page            =
=============================================*/

.icon-box {
    border: 1px solid $border-color;
    padding: 2.5rem;
    margin-bottom: 2rem;

    .icon-box-img {
        height: 70px;
        width: 90px;
        margin-bottom: 2rem;

        img {
            max-height: 100%;
            max-width: 100%;
            filter: grayscale(100);
        }
    }

    .icon-box-title {
        color: $main-color;
        margin-bottom: 1.9rem;
        font-family: $main-font;
        font-weight: 600;
    }

    p {
        font-size: 14px;
    }
}

.white-box {
    display: inline-block;
    background: #fff;
    padding: 2.7rem 2rem 2.3rem 2.7rem;
    width: 100%;
    margin-bottom: 15px;

    h6 {
        color: $dark-green;
        font-weight: 600;
        font-family: $main-font;
    }

    h5 {
        color: $main-color;
        font-family: $main-font;
        font-weight: 600;
    }

    a {
        color: $main-color;
    }

    p {
        margin-bottom: 7px;
    }

    &__icon {
        margin-bottom: 20px;
    }
}

.btn-group {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 34px;

    .btn {
        border-radius: $border-radius;
        @include fluid-type(font-size,
            320px,
            768px,
            12px,
            14px);
        width: 49%;
        text-align: center;
    }
}

.btn-group-light-green {
    .btn {
        &:nth-child(odd) {
            border: 1px solid $main-color;
            color: $main-color;

            &:hover {
                background-color: $main-color;
                color: #fff;
            }
        }

        &:nth-child(even) {
            background-color: $main-color;
            color: #fff;
        }
    }
}

.btn-group-dark-green {
    .btn {
        line-height: 15px;

        &:nth-child(odd) {
            border: 1px solid $dark-green;
            color: $dark-green;

            &:hover {
                border-color: $main-color;
                background: $main-color;
                color: #fff;
            }
        }

        &:nth-child(even) {
            background-color: $dark-green;
            color: #fff;

            &:hover {
                background-color: $main-color;
            }
        }
    }
}


/*----------  Accordion  ----------*/

.accordion {
    li {
        position: relative;

        &:before {
            display: none;
        }
    }
}

.toggle-question,
.circle-plus {
    cursor: pointer;
    display: block;
}

.accordion-content {
    display: none;
    padding-top: 15px;
    margin-top: 15px;
    border-top: 1px dashed $main-color;
}

.accordion-closed {
    .vertical {
        transition: all 0.5s ease-in-out;
        transform: rotate(-90deg);
    }

    .horizontal {
        transition: all 0.5s ease-in-out;
        transform: rotate(-90deg);
        opacity: 1;
    }
}

.accordion-opened {
    opacity: 1;

    .vertical {
        transition: all 0.5s ease-in-out;
        transform: rotate(90deg);
    }

    .horizontal {
        transition: all 0.5s ease-in-out;
        transform: rotate(90deg);
        opacity: 0;
    }
}

.circle-plus {
    height: 2.4rem;
    width: 2.4rem;
    position: absolute;
    top: 14px;
    left: 1.5rem;

    .horizontal {
        position: absolute;
        background-color: $main-color;
        width: 2.4rem;
        height: 2px;
        top: calc(50% - 1px);
    }

    .vertical {
        position: absolute;
        background-color: $main-color;
        width: 2px;
        height: 2.4rem;
        left: 50%;
    }
}

.border-box {
    border: 1px solid $border-color;
    padding: 3rem 3rem 2rem 3rem;
    margin-bottom: 3rem;
    width: 100%;

    li {
        font-size: 14px;

        strong {
            color: $dark-green;
        }
    }

    h5,
    h6 {
        font-family: $main-font;
    }
}

.border-box-title {
    color: $main-color;
    font-weight: 500;
}

.section-two-column-img {
    // @include aspect-ratio(73.25%);
    // img {
    //     height: 100%;
    //     max-width: initial;
    // }
}

.donate-icon {
    position: fixed;
    bottom: 60px;
    z-index: 997;
    right: 14px;
}

.donate-icon-desktop {
    display: none;
}

.donate-icon-wrap {
    border: 1px dashed $second-color;
    width: 56px;
    height: 56px;
    border-radius: 50%;
    padding: 12px;
    display: block;
    background-color: white;

    &.hover {
        width: 147px;
        border-radius: 97px;
        transition: width .3s ease-in-out;
        display: flex;
        align-items: center;

        .donate-icon-text {
            opacity: 1;
            transition: opacity .3s ease-in-out;
            transition-delay: .4s;
        }
    }

    img {
        width: 30px;
    }
}

.donate-icon-text {
    color: $second-color;
    font-size: 14px;
    opacity: 0;
    display: inline-block;
    margin-left: 10px;
}


/*----------  Search icon  ----------*/

.search-input {
    display: inline-block;
    height: 40px;
    width: 200px;
    box-sizing: border-box;
    margin: 0 auto;
    border: 1px solid #fff;
    border-radius: 25px;
    transition: all 200ms ease;
    cursor: text;
    display: block;

    ::placeholder {
        color: #fff;
        font-size: 14px;
    }

    &.active {
        ::placeholder {
            color: rgba(255, 255, 255, .3);
        }
    }

    input[type="text"],
    input {
        width: 100%;
        height: 100%;
        border: none;
        font-size: 15px;
        color: #fff;
        background: transparent;
        outline-width: 0px;
        padding: 5px 15px 7px 15px;

        &:focus {
            border: none;
        }
    }
}


/*----------  Aside/sidebar  ----------*/

aside {
    padding: 0 15px 25px 15px;

    .wp-block-image {
        @include aspect-ratio(56.25%);
        margin-bottom: 2.4rem;
        box-shadow: $box-shadow-card;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
}


/*----------  Featured posts - home page  ----------*/

.featured-posts {
    position: relative;
    margin-bottom: 30px;

    // --------- grey background
    &:after {
        content: '';
        position: absolute;
        top: 0;
        left: -45vw;
        right: 0;
        bottom: 0;
        width: 150vw;
        background-color: $light-grey;
        z-index: -1;
    }
}

.featured-post {
    display: block;
    margin-bottom: 30px;
    box-shadow: $box-shadow-light;
    position: relative;

    &__content {
        padding: 15px 15px 23px 15px;
        background-color: #fff;
    }

    &__info {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
        gap: 5px;
        font-size: 13px;
        line-height: 13px;
        font-weight: 500;
        width: 100%;
        padding: 6px 0 5px 0;
    }

    &__author {
        margin-right: 5px;

        a {
            position: relative;
            z-index: 1;

            &:hover {
                text-decoration: underline;
            }
        }
    }

    &__title {
        transition: all 0.3s ease;
        font-weight: 600;
        position: relative;
        z-index: 1;

        h2 {
            color: $font-color;
            transition: all 0.3s ease;
            @include fluid-type(font-size, 320px, 1450px, 20px, 28px);
            @include fluid-type(line-height, 320px, 1450px, 25px, 33px);
        }

        &:hover {
            h2 {
                color: $main-color;
            }
        }
    }

    &__btn {
        text-align: right;
        position: relative;
        z-index: 1;
    }

    &__banner {
        background-color: $main-color;
        padding: 5px 13px;
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        min-height: 40px;
        color: white;
    }
}


/*----------  Grey bg - home page  ----------*/

.home {
    .main-content__wrap {
        margin-top: -38rem;
    }
}


/*----------  Latest posts - home page  ----------*/

.latest-posts {
    &__btn {
        text-align: center;
        padding: 3rem 0 7rem 0;
    }
}


/*----------  Main-content-wrap - home page  ----------*/

.main-content__wrap {
    overflow-x: hidden;
}


/*----------  Hero section small  ----------*/

.hero--small {
    .hero-section__img {
        min-height: 140px;
    }
}


/*----------  Single post ----------*/

.single-post {
    &__hero {
        padding-top: 1px;
    }

    .date {
        display: none;
    }

    .featured-post__author {
        a:hover {
            color: $main-color;
            text-decoration: none;
        }
    }

    &__content {
        padding-top: 1px;
    }

    &__content-main {
        margin-top: 4rem;
    }

    .post-hero {
        margin-top: 0;
    }
}

.single-team {
    &__content {
        margin-bottom: 8rem;
    }
}


/*----------  Sidebar card  ----------*/

.sidebar-card {
    display: block;
    box-shadow: $box-shadow-card;
    margin-bottom: 2.4rem;
    position: relative;
    z-index: 1;

    &__image {
        @include aspect-ratio(56.25%);
    }

    &__text {
        padding: 8px 12px 0 12px;
        background: #fff;
    }

    p {
        font-size: 14px;
        line-height: 19px;
    }

    h1,
    h2,
    h3,
    h4,
    h5 {
        @include fluid-type(font-size,
            320px,
            1450px,
            18px,
            20px);
        @include fluid-type(line-height,
            320px,
            1450px,
            22px,
            24px);
        margin-bottom: 5px;
        color: $font-color;
    }

    &__btn {
        text-align: center;
        padding: 6px 0 12px 0;
        background: #fff;
    }

    &:hover {
        .btn-link {
            color: $main-color;
        }
    }
}


/*----------  Page not found and Search page ----------*/

.page-not-found,
.search__content {
    min-height: 270px;
    display: flex;
    align-items: center;
    padding: 4rem 0;

    h3 {
        margin: 0;
    }

    .pagination {
        padding-bottom: 0;
    }
}

.error404,
.search {
    .social-icon__wrap {
        display: none;
    }
}

.search-row {
    border-bottom: 1px dashed $main-color;
    padding-top: 3rem;
    padding-bottom: 3rem;
}


/*----------  Three post-cards  ----------*/

.three-cards {
    .post-item {
        display: flex;
        flex-direction: column;

        .aspect-ratio-bg {
            height: 0;
            padding-top: 56.25%;
        }
    }

    .post-item_content {
        flex-grow: 1;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
}

.uppercase {
    text-transform: uppercase;
}


/*----------  hide recaptcha badge and show recaptcaha tet in form  ----------*/

.grecaptcha-badge {
    visibility: hidden;
}

.recaptcha-text {
    font-size: 12px;
    line-height: 1.4em;
    font-weight: 300;
    opacity: 0.8;
    margin-top: 10px;

    a {
        text-decoration: underline;
    }
}

.submit-wrap input {
    margin-top: 0;
}


/* =WordPress Core - Sassified.
-------------------------------------------------------------- */

.aligncenter,
div.aligncenter {
    display: block;
    margin: 5px auto 5px auto;
}

.alignright {
    float: right;
    margin: 5px 0 20px 20px;
}

.alignleft {
    float: left;
    margin: 5px 20px 20px 0;
}

.aligncenter {
    display: block;
    margin: 5px auto 5px auto;
}

a {
    img {
        &.alignright {
            float: right;
            margin: 5px 0 20px 20px;
        }

        &.alignnone {
            margin: 5px 20px 20px 0;
        }

        &.alignleft {
            float: left;
            margin: 5px 20px 20px 0;
        }

        &.aligncenter {
            display: block;
            margin-left: auto;
            margin-right: auto
        }
    }
}

.wp-caption {
    background: #fff;
    border: 1px solid #f0f0f0;
    max-width: 96%;
    /* Image does not overflow the content area */
    padding: 5px 3px 10px;
    text-align: center;

    &.alignnone {
        margin: 5px 20px 20px 0;
    }

    &.alignleft {
        margin: 5px 20px 20px 0;
    }

    &.alignright {
        margin: 5px 0 20px 20px;
    }

    img {
        border: 0 none;
        height: auto;
        margin: 0;
        max-width: 98.5%;
        padding: 0;
        width: auto;
    }

    p.wp-caption-text {
        font-size: 11px;
        line-height: 17px;
        margin: 0;
        padding: 0 4px 5px;
    }
}